{% load static %}

<li class="post">
    <a href="{% url 'post-detail' slug=post.slug %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="post__content">
            <div>
                <h3>{{ post.title|title }}</h3>
                <p>{{ post.excerpt }}</p>
            </div>
            <div class="tags">
                <span>Tag_01</span>
                <span>Tag_02</span>
            </div>
            <div class="date">
                <p>{{ post.date }}</p>
            </div>
        </div>
    </a>
</li>