{% extends 'base-blog.html' %}
{% load static %}

{% block title %}{{ post.slug }}{% endblock title %}

{% block style %}

<link rel="stylesheet" href={% static 'css/post-detail.css' %}>
<link rel="stylesheet" href={% static 'css/forms.css' %}>

{% endblock style %}

{% block content %}

<section id="post-header">
    <div id="post-title-block">
        <div>
            <h2>{{ post.title }}</h2>
            <div>
                {% for tag in post_tags %}
                <span class="tag">{{ tag.caption }}</span>
                {% endfor %}
            </div>
        </div>
        <div>Last updated on <time>{{ post.date|date:"d.m.Y" }}</time></div>
    </div>
    <div id="post-img">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </div>    
</section>

<main>
    {{ post.content|linebreaks }}
</main>

<section id="comments-section">
    <h3>Add comment:</h3>
    <form id="comment-form" action="{% url 'post-detail' slug=post.slug %}" method="POST">
        {% csrf_token %}
        {% for field in comment_form %}
            <div class="form-control">
                <!-- рендерим форму по частям .label_tag = label -->
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button>Comment</button>
    </form>
</section>

{% endblock content %}
