header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    padding-bottom: 80px;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

nav li a {
    text-decoration: none;
    color: rgb(240, 240, 240);

}

nav li a:hover {
    text-decoration: underline;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}

#page-logo,
header nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

#page-logo a {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#page-logo a:hover,
#page-logo a:active {
    text-decoration: underline;
}