header {
    position: static;
}

#post-header {
    background-color: blueviolet;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 150px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

#post-title-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#post-title-block h2 {
    margin: 0;
    margin-bottom: 20px;
}

.tag {
    background-color: #441372;
    border-radius: 6px;
    color: #ebebeb;
    padding: 5px 10px;
}

#post-img {
    width: 65%;
}

#post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

#post-img img:hover {
    transform: scale(1.03);
}

main {
    width: 94%;
    margin: 0 auto;
}

/*======================== COMMENTS ===================*/

#comments ul {
    margin: 0;
    padding: 0;
}

#comments li {
    width: 70%;
    margin: 0 auto;
}

#comment{
    border: 1px solid white;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem ;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

}

#comment p {
    margin: 0;
    margin-bottom: 1rem;
}

#userdata {
    display: flex;
    justify-content: end;
}

#userdata time {
    color: rgba(255, 255, 255, 0.5);
}
